body {
    min-height: 100vh;
    margin: 0;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

header {
    min-height: 25px;
}

footer {
    min-height: 25px;
}

.light-theme {
    background-image: linear-gradient(to top, #bdc2e8 0%, #bdc2e8 1%, #e6dee9 100%);
}

.dark-theme {
    background: linear-gradient(to bottom, #323232 0%, #3F3F3F 40%, #1C1C1C 150%), linear-gradient(to top, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.25) 200%);
    background-blend-mode: multiply;
}

.tg-spoiler {
    background-color: lightgray;
}

.d-inherit {
    display: inherit;
}

.log-viewer {
    font-family: monospace;
    white-space: pre-wrap;
    overflow-wrap: anywhere;
    max-height: 80vh;
    overflow-y: auto;
}