@inherits LayoutComponentBase
@inject IOptionsMonitor<BotConfig> Options
@inject IEnumerable<BotRegistration> Registrations
@using Microsoft.AspNetCore.Components.Sections

<CascadingValue Value="this">
    <header>
        <div class="container">
            <nav id="main-navigation" class="navbar navbar-expand-sm navbar-toggleable-sm border-bottom box-shadow mb-3">
                <div id="nav_header_text" class="me-3">
                    <SectionOutlet SectionName="LogoSection" />
                </div>
                <button id="navbar_toggler" class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <NavLink href="/" Match="NavLinkMatch.All" class="nav-link">🏠 Home</NavLink>
                        </li>
                        <li class="nav-item">
                            <NavLink href="/dashboard" class="nav-link">🎛️ Dashboard</NavLink>
                        </li>
                        @foreach (var bot in Registrations)
                        {
                            <li class="nav-item">
                                <a class="nav-link" href="/@bot.BotName/dashboard">@Options.Get(bot.BotName).Emoji @bot.BotName</a>
                            </li>
                        }
                        <li class="nav-item">
                            <a class="nav-link" href="/health-ui">🩺 Health</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </header>
</CascadingValue>

<main role="main" class="pb-3">
    <div class="container">
        @Body
        <div id="toast-container" aria-live="polite" aria-atomic="true" class="position-fixed bottom-0 end-0 p-3"></div>
    </div>
</main>

<footer class="footer text-muted mt-auto">
    <div class="container border-top">
        <span><SectionOutlet SectionName="FooterSection" /></span>
    </div>
</footer>
